@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* This is the Order Index *@

<div class="text-center">
    <h1 class="display-4">Welcome to the Order Menu</h1>
    <br />
    <h5>What would you like to do?</h5>
    <br />
    <br />
    <a asp-controller="Customer" asp-action="Index1">Place an Order</a>
    <br />
    <br />
    <a asp-controller="Customer" asp-action="CustomerOrder">View Order History by Customer</a>
    <br />
    <br />
    <a asp-controller="StoreFront" asp-action="StoreOrder">View Order History by Store</a>
    <br />
    <a asp-controller="Product" asp-action="Index">Product</a>
</div>